{% extends 'base.html.twig' %}

{% block title %}
	Chat
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('chat_send') }}
{% endblock %}

{% set userId1 = app.user.id %}
{% set userId2 = receiver.id %}
{% set conversationChatPath = '/chat/messages/' ~ (userId1 < userId2 ? userId1 ~ '/' ~ userId2 : userId2 ~ '/' ~ userId1) %}

{% block body %}
	<section class="pt-3 position-absolute top-0 bottom-0 end-0 start-0 mt-5 py-5">
		<div class="container border-primary border-3 h-100 pt-3">
			<div class="row">
				{{ include('chat/_user_list.html.twig', {'users': users, 'receiverId': receiver.id}) }}

				<div class="col-lg-8">
					<div class="d-grid mb-0 d-lg-none w-100">
						<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
							<i class="fas fa-sliders-h"></i>
							List des utilisateurs
						</button>
					</div>

					<div class="vstack gap-4 h-100">
						<div class="card border h-100">
							<div class="card-header">
								{{ receiver.fullName }}
							</div>
							<div class="card-body" style="max-height: 500px;overflow: auto;">

								{% if page < maxPage %}
								<div class="text-center">
									<a href="{{ path('app_chat_show', {receiverId: receiver.id, p: page + 1}) }}" class="btn btn-success">
										Voir les messages précédents
									</a>
								</div>
								{% endif %}
								<div class="d-flex flex-column-reverse" id="messages-container">
									{% for message in messages %}
										{% include "chat/_message_card.html.twig" %}
									{% else %}
										<div class="fs-1 text-center" id="empty-text">
											Veuillez commencer à écrire
										</div>
									{% endfor %}
								</div>

								{% if page > 1 %}
								<div class="text-center">
									<a href="{{ path('app_chat_show', {receiverId: receiver.id, p: page -1}) }}" class="btn btn-success">
										Voir les messages suivantes
									</a>
								</div>
								{% endif %}

							</div>
							<div class="card-footer">
								{{ form_start(form, {
									'attr': {
										'novalidate': true,
										'id': 'message-form',
										'class': 'd-flex justify-content-between align-items-center',
										'action': path('api_chat_send', { id: receiver.id }),
										'data-chat-user': conversationChatPath
									}
								}) }}
								<div class="w-100" id="content-row">
									{{ form_widget(form.content) }}
								</div>
								<button type="submit" class="btn btn-primary">
									<i class="fa fa-paper-plane"></i>
								</button>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block script %}
	<script>
		const eventSource = new EventSource("{{ mercure(conversationChatPath)|escape('js') }}");
		eventSource.onmessage = event => {
			const { message, receiverId } = JSON.parse(event.data)
			console.log(message, receiverId)
			if (receiverId !== {{ receiver.id }}){
				const messageCard = document.createElement('div');
				messageCard.innerHTML = `
					<div class="row mt-2">
						<div class="col-md-10">
							<span class="bg-secondary px-2 py-1 rounded text-white">
								${message}
							</span>
						</div>
					</div>
				`;
				document.querySelector("#messages-container").prepend(messageCard)
			}
		}
	</script>
{% endblock %}
