<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">
			<span class="fs-4">Blog Symfony Techlab</span>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mx-auto">
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a href="{{ path('app_admin') }}" class="nav-link">
							Administration
						</a>
					</li>
				{% endif %}

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Blog
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('app_list_articles') }}">Les actualités</a>
						</li>
						{% if app.user %}
							<li>
								<a class="dropdown-item" href="{{ path('app_article_new') }}">Nouvelle article</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('app_articles') }}">Mes articles</a>
							</li>
						{% endif %}
					</ul>
				</li>

				{% if is_granted('ROLE_USER') %}
					<li class="nav-item">
						<a href="{{ path('app_chat') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_chat' %}active{% endif %}">
							Chat
						</a>
					</li>
				{% endif %}
			</ul>
			{% include "partials/_user.html.twig" %}
		</div>
	</div>
</nav>
