{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('article_comment') }}
	{{ encore_entry_script_tags('article_like') }}
	{{ encore_entry_script_tags('article_rating') }}
{% endblock %}

{% set commentsLength = article.comments|length %}

{% block body %}
	<div class="container col-md-10 mt-4">
		<article>
			<header class="mb-4">
				<h1 class="fw-bolder mb-1">{{ article.title }}</h1>
				<div class="text-muted fst-italic my-2">
					Posté le {{ article.createdAt|date('d M Y') }}
					par
					<span class="fw-bold">{{ article.author.fullName }}</span>
				</div>
				{% for category in article.categories %}
					<a class="badge bg-secondary text-decoration-none link-light" href="#!">
						{{ category.title }}
					</a>
				{% endfor %}
				{% if app.user %}
					<div class="d-flex gap-5 align-items-center mt-4">
						<div class="border border-3 rounded-pill border-warning rounded px-3 py-2">
							<div id="article-range-{{ article.id }}">
								{% for i in 1..5 %}
									<a type="button" data-article-id="{{ article.id }}" data-rating="{{ i }}" class="{% if i <= ratingIp %}fa-solid rated{% else %}fa-regular{% endif %} rating-star fa-star"></a>
								{% endfor %}
							</div>
						</div>

						<button id="article-like-{{ article.id }}" type="button" class="like-button btn{% if isLiked %} liked{% endif %}" data-article-id="{{ article.id }}">
							<i class="{% if isLiked %}fa-solid{% else %}fa-regular{% endif %} fa-xl fa-thumbs-up like-icon"></i>
							<span id="likes-count" class="bg-white p-1 rounded text-dark ms-3">
								{{ article.likes|length }}
							</span>
						</button>
					</div>
				{% endif %}
			</header>
			<section class="my-3">
				<p class="fs-5 mb-4">
					{{ article.content|nl2br }}
				</p>
			</section>
		</article>
		<section class="mb-5 w-100">
			<div class="card bg-light">
				<div class="card-body">
					{{ include('comment/_comment_form.html.twig') }}
				</div>
			</div>
			<div class="d-flex mt-4 w-100">
				<div class="ms-3 w-100">
					<h3>
						<i class="fa fa-comments"></i> {{ commentsLength }} commentaire{% if commentsLength > 1 %}s{% endif %}
					</h3>
					<div id="comments-list" class="w-100 d-flex flex-column-reverse">
					{% if commentsLength > 0 %}
						{% for comment in article.comments %}
							{{ include('comment/_comment.html.twig') }}
						{% endfor %}
					{% else %}
						<p id="empty-text">Aucun commentaire pour le moment. Soyez le premier à réagir !</p>
					{% endif %}
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}
