{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('article') }}
{% endblock %}

{% block body %}
	<div class="container col-md-8 mt-5">
		<h2>Articles</h2>
		<div class="card">
			<div class="card-body">
				<h3>{{ article.title }}</h3>
				<p>
					{{ article.content|nl2br }}
				</p>
				<p class="text-secondary fst-italic">
					{% if article.categories|length > 0 %}
						Catégories :
						{{ article.categories|map(category => "#{category.title}")|join(', ') }}
					{% endif %}
				</p>
				<p>
					Publié le
					<span class="fw-bold">
						{{ article.createdAt|date('d M Y à H:i') }}
					</span>
				</p>
				{{ include('comment/_comment_form.html.twig') }}
				<div class="my-2">
					<h4>
						Commentaires &nbsp;
						(<span class="fw-bold" id="comments-count">{{ article.comments|length }}</span>)
					</h4>
					<div id="comments-list">
					{% if article.comments|length > 0 %}
						{% for comment in article.comments %}
							{{ include('comment/_comment.html.twig') }}
						{% endfor %}
					{% else %}
						<p id="empty-text">Aucun commentaire pour le moment. Soyez le premier à réagir !</p>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.comment {
			background-color: #f1f3f5;
			padding: 10px;
			border-left: 4px solid #0d6efd;
			margin-bottom: 10px;
			border-radius: 4px;
		}
	</style>
{% endblock %}
